**Pyspark Functions**

- will load one data set

- will read through spark

- will perform some operations

In [ ]:
# Step-1:

!pip install pyspark


# step-2:

from pyspark.sql import SparkSession
spark=SparkSession.builder.master("local[1]") \
                          .appName("Spark_Examples") \
                          .getOrCreate()

spark


#### step-3
sc=spark.sparkContext

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=5c17609e46e4f0f587e9505e7b0702dbbf7d467e0efb53750ef181725b7aedc4
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
# Read the csv file
bank_data_spark=spark.read.csv('/content/bank.csv',
                               header=True,            # Header will give all the columns
                               sep=';',
                               inferSchema=True)      # provide original schema

bank_data_spark

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, y: string]

In [ ]:
bank_data_spark.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- y: string (nullable = true)

In [ ]:
## Read a column
# if we read only bank_data_spark ===== > data types
# inorder to see the data ====== > we need to perform action
bank_data_spark.show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
display(bank_data_spark)

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, y: string]

$Select$

In [ ]:
# select will use read a specific columns
bank_data_spark.select('balance').show()

+-------+
|balance|
+-------+
|   1787|
|   4789|
|   1350|
|   1476|
|      0|
|    747|
|    307|
|    147|
|    221|
|    -88|
|   9374|
|    264|
|   1109|
|    502|
|    360|
|    194|
|   4073|
|   2317|
|   -221|
|    132|
+-------+
only showing top 20 rows

- sum

- max

- min

- avg

In [ ]:
from pyspark.sql.functions import sum,max,min,avg,round

In [ ]:
bank_data_spark.select(max('balance')).show()

+------------+
|max(balance)|
+------------+
|       71188|
+------------+

In [ ]:
bank_data_spark.select(avg('balance')).show()

+------------------+
|      avg(balance)|
+------------------+
|1422.6578190665782|
+------------------+

In [ ]:
bank_data_spark.select(round(avg('balance'))).show()

# round(value,<num>)
# bank_data_spark.select(round(value,<num>)).show()
# value=avg('balance')

+----------------------+
|round(avg(balance), 0)|
+----------------------+
|                1423.0|
+----------------------+

In [ ]:
val1=bank_data_spark.select(round(avg('balance'),3))
val1.show()

+----------------------+
|round(avg(balance), 3)|
+----------------------+
|              1422.658|
+----------------------+

In [ ]:
type(val1)

pyspark.sql.dataframe.DataFrame

In [ ]:
# if you want change the column name
# alias operation

# val1=max('balance').alias('sum_balance')

# bank_data_spark.select(val1)

sum1=bank_data_spark.select(max('balance').alias('sum_balance'))

sum1.show()
# column name:  max('balance')

+-----------+
|sum_balance|
+-----------+
|      71188|
+-----------+

In [ ]:
sum1=bank_data_spark.select(max('balance').alias('sum_balance'))

sum1.show(truncate=False)

+-----------+
|sum_balance|
+-----------+
|71188      |
+-----------+

In [ ]:
#from pyspark.sql.functions import sum,max,min,avg,round

import pyspark.sql.functions as F

# F.sum   F.avg  F.max

bank_data_spark.select(F.max('balance').alias('sum_balance')).show()

+-----------+
|sum_balance|
+-----------+
|      71188|
+-----------+

In [ ]:
dir(F)

['Any',
 'ArrayType',
 'Callable',
 'Column',
 'DataFrame',
 'DataType',
 'Dict',
 'Iterable',
 'JVMView',
 'List',
 'Optional',
 'PandasUDFType',
 'PySparkTypeError',
 'PySparkValueError',
 'PythonEvalType',
 'SparkContext',
 'StringType',
 'StructType',
 'TYPE_CHECKING',
 'Tuple',
 'Union',
 'UserDefinedFunction',
 'ValuesView',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_create_column_from_literal',
 '_create_lambda',
 '_create_py_udf',
 '_from_numpy_type',
 '_get_jvm_function',
 '_get_lambda_parameters',
 '_invoke_binary_math_function',
 '_invoke_function',
 '_invoke_function_over_columns',
 '_invoke_function_over_seq_of_columns',
 '_invoke_higher_order_function',
 '_options_to_str',
 '_test',
 '_to_java_column',
 '_to_seq',
 '_unresolved_named_lambda_variable',
 'abs',
 'acos',
 'acosh',
 'add_months',
 'aggregate',
 'approxCountDistinct',
 'approx_count_distinct',
 'array',
 'array_append',
 'array_compact',
 'array_contains',
 'array_distinct',
 'array_except',
 'array_insert',
 'array_intersect',
 'array_join',
 'array_max',
 'array_min',
 'array_position',
 'array_remove',
 'array_repeat',
 'array_sort',
 'array_union',
 'arrays_overlap',
 'arrays_zip',
 'asc',
 'asc_nulls_first',
 'asc_nulls_last',
 'ascii',
 'asin',
 'asinh',
 'assert_true',
 'atan',
 'atan2',
 'atanh',
 'avg',
 'base64',
 'bin',
 'bit_length',
 'bitwiseNOT',
 'bitwise_not',
 'broadcast',
 'bround',
 'bucket',
 'call_udf',
 'cast',
 'cbrt',
 'ceil',
 'coalesce',
 'col',
 'collect_list',
 'collect_set',
 'column',
 'concat',
 'concat_ws',
 'conv',
 'corr',
 'cos',
 'cosh',
 'cot',
 'count',
 'countDistinct',
 'count_distinct',
 'covar_pop',
 'covar_samp',
 'crc32',
 'create_map',
 'csc',
 'cume_dist',
 'current_date',
 'current_timestamp',
 'date_add',
 'date_format',
 'date_sub',
 'date_trunc',
 'datediff',
 'dayofmonth',
 'dayofweek',
 'dayofyear',
 'days',
 'decode',
 'degrees',
 'dense_rank',
 'desc',
 'desc_nulls_first',
 'desc_nulls_last',
 'element_at',
 'encode',
 'exists',
 'exp',
 'explode',
 'explode_outer',
 'expm1',
 'expr',
 'factorial',
 'filter',
 'first',
 'flatten',
 'floor',
 'forall',
 'format_number',
 'format_string',
 'from_csv',
 'from_json',
 'from_unixtime',
 'from_utc_timestamp',
 'functools',
 'get',
 'get_active_spark_context',
 'get_json_object',
 'greatest',
 'grouping',
 'grouping_id',
 'has_numpy',
 'hash',
 'hex',
 'hour',
 'hours',
 'hypot',
 'initcap',
 'inline',
 'inline_outer',
 'input_file_name',
 'inspect',
 'instr',
 'isnan',
 'isnull',
 'json_tuple',
 'kurtosis',
 'lag',
 'last',
 'last_day',
 'lead',
 'least',
 'length',
 'levenshtein',
 'lit',
 'localtimestamp',
 'locate',
 'log',
 'log10',
 'log1p',
 'log2',
 'lower',
 'lpad',
 'ltrim',
 'make_date',
 'map_concat',
 'map_contains_key',
 'map_entries',
 'map_filter',
 'map_from_arrays',
 'map_from_entries',
 'map_keys',
 'map_values',
 'map_zip_with',
 'max',
 'max_by',
 'md5',
 'mean',
 'median',
 'min',
 'min_by',
 'minute',
 'mode',
 'monotonically_increasing_id',
 'month',
 'months',
 'months_between',
 'nanvl',
 'next_day',
 'np',
 'nth_value',
 'ntile',
 'octet_length',
 'overlay',
 'overload',
 'pandas_udf',
 'percent_rank',
 'percentile_approx',
 'pmod',
 'posexplode',
 'posexplode_outer',
 'pow',
 'product',
 'quarter',
 'radians',
 'raise_error',
 'rand',
 'randn',
 'rank',
 'regexp_extract',
 'regexp_replace',
 'repeat',
 'reverse',
 'rint',
 'round',
 'row_number',
 'rpad',
 'rtrim',
 'schema_of_csv',
 'schema_of_json',
 'sec',
 'second',
 'sentences',
 'sequence',
 'session_window',
 'sha1',
 'sha2',
 'shiftLeft',
 'shiftRight',
 'shiftRightUnsigned',
 'shiftleft',
 'shiftright',
 'shiftrightunsigned',
 'shuffle',
 'signum',
 'sin',
 'sinh',
 'size',
 'skewness',
 'slice',
 'sort_array',
 'soundex',
 'spark_partition_id',
 'split',
 'sqrt',
 'stddev',
 'stddev_pop',
 'stddev_samp',
 'struct',
 'substring',
 'substring_index',
 'sum',
 'sumDistinct',
 'sum_distinct',
 'sys',
 'tan',
 'tanh',
 'timestamp_seconds',
 'toDegrees',
 'toRadians',
 'to_csv',
 'to_date',
 'to_json',
 'to_str',
 'to_timestamp',
 'to_utc_timestamp',
 'transform',
 'transform_keys',
 'transform_values',
 'translate',
 'trim',
 'trunc',
 'try_remote_functions',
 'udf',
 'unbase64',
 'unhex',
 'unix_timestamp',
 'unwrap_udt',
 'upper',
 'var_pop',
 'var_samp',
 'variance',
 'warnings',
 'weekofyear',
 'when',
 'window',
 'window_time',
 'xxhash64',
 'year',
 'years',
 'zip_with']

In [ ]:
sum1=bank_data_spark.select(F.max('balance').alias('sum_balance'))
sum1.collect()  # [Row(sum_balance=71188)]
sum1.collect()[0] #Row(sum_balance=71188)
sum1.collect()[0][0] #71188

71188

In [ ]:
bank_data_spark.show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [ ]:
bank_data_spark.groupBy('job').sum('balance').show()

+-------------+------------+
|          job|sum(balance)|
+-------------+------------+
|   management|     1712154|
|      retired|      533414|
|      unknown|       57065|
|self-employed|      254811|
|      student|      129681|
|  blue-collar|     1026563|
| entrepreneur|      276381|
|       admin.|      586380|
|   technician|     1022205|
|     services|      460350|
|    housemaid|      233386|
|   unemployed|      139446|
+-------------+------------+

In [ ]:
bank_data_spark.select(sum('balance'),avg('balance')).show()

+------------+------------------+
|sum(balance)|      avg(balance)|
+------------+------------------+
|     6431836|1422.6578190665782|
+------------+------------------+

In [ ]:
bank_data_spark.groupBy('job').sum('balance','pdays').show()

+-------------+------------+----------+
|          job|sum(balance)|sum(pdays)|
+-------------+------------+----------+
|   management|     1712154|     39698|
|      retired|      533414|      8067|
|      unknown|       57065|      1377|
|self-employed|      254811|      5171|
|      student|      129681|      3840|
|  blue-collar|     1026563|     39345|
| entrepreneur|      276381|      5422|
|       admin.|      586380|     23897|
|   technician|     1022205|     30156|
|     services|      460350|     15167|
|    housemaid|      233386|      2957|
|   unemployed|      139446|      4688|
+-------------+------------+----------+

$aggregations$

In [ ]:
# agg(v1,v2,v3....)
bank_data_spark.groupBy('job')\
                .agg(F.sum('balance').alias('balance_sum'),
                     F.sum('pdays').alias('pdays_sum'),
                     F.count('job').alias('count')).show()

+-------------+-----------+---------+-----+
|          job|balance_sum|pdays_sum|count|
+-------------+-----------+---------+-----+
|   management|    1712154|    39698|  969|
|      retired|     533414|     8067|  230|
|      unknown|      57065|     1377|   38|
|self-employed|     254811|     5171|  183|
|      student|     129681|     3840|   84|
|  blue-collar|    1026563|    39345|  946|
| entrepreneur|     276381|     5422|  168|
|       admin.|     586380|    23897|  478|
|   technician|    1022205|    30156|  768|
|     services|     460350|    15167|  417|
|    housemaid|     233386|     2957|  112|
|   unemployed|     139446|     4688|  128|
+-------------+-----------+---------+-----+

**Column operations**

- Change the data type of column

- selecting columns we have col method

In [ ]:
from pyspark.sql.functions import col,lit

In [ ]:
bank_data_spark.select(['age','balance']).show()

+---+-------+
|age|balance|
+---+-------+
| 30|   1787|
| 33|   4789|
| 35|   1350|
| 30|   1476|
| 59|      0|
| 35|    747|
| 36|    307|
| 39|    147|
| 41|    221|
| 43|    -88|
| 39|   9374|
| 43|    264|
| 36|   1109|
| 20|    502|
| 31|    360|
| 40|    194|
| 56|   4073|
| 37|   2317|
| 25|   -221|
| 31|    132|
+---+-------+
only showing top 20 rows

In [ ]:
bank_data_spark.select(col('age'),col('balance')).show()
#bank_data_spark.select('age').show()     # also works

+---+-------+
|age|balance|
+---+-------+
| 30|   1787|
| 33|   4789|
| 35|   1350|
| 30|   1476|
| 59|      0|
| 35|    747|
| 36|    307|
| 39|    147|
| 41|    221|
| 43|    -88|
| 39|   9374|
| 43|    264|
| 36|   1109|
| 20|    502|
| 31|    360|
| 40|    194|
| 56|   4073|
| 37|   2317|
| 25|   -221|
| 31|    132|
+---+-------+
only showing top 20 rows

In [ ]:
bank_data_spark.select('age').collect()[0][0]
# int type

30

In [ ]:
d1=bank_data_spark.withColumn('age',col('age').cast('string'))
d1.select('age').collect()[0][0] # string type

'30'

In [ ]:
d2=bank_data_spark.withColumn('age_1',col('age').cast('string'))
d2.select(['age','age_1']).show(2)
#d1.select('age').collect()[0][0]
d2

# age======== > integer
# age_1 ==== > string

+---+-----+
|age|age_1|
+---+-----+
| 30|   30|
| 33|   33|
+---+-----+
only showing top 2 rows

DataFrame[age: int, job: string, marital: string, education: string, default: string, balance: int, housing: string, loan: string, contact: string, day: int, month: string, duration: int, campaign: int, pdays: int, previous: int, poutcome: string, y: string, age_1: string]

In [ ]:
d3=bank_data_spark.withColumn('age_100',col('age')*100)
d3.select('age','age_100').show()

# inplace=True

+---+-------+
|age|age_100|
+---+-------+
| 30|   3000|
| 33|   3300|
| 35|   3500|
| 30|   3000|
| 59|   5900|
| 35|   3500|
| 36|   3600|
| 39|   3900|
| 41|   4100|
| 43|   4300|
| 39|   3900|
| 43|   4300|
| 36|   3600|
| 20|   2000|
| 31|   3100|
| 40|   4000|
| 56|   5600|
| 37|   3700|
| 25|   2500|
| 31|   3100|
+---+-------+
only showing top 20 rows

**Create a new column with default values**

$lit$

In [ ]:
bank_data_spark.withColumn("Country",lit('India')).show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|Country|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|  India|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|  India|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|  India|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|  India|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|  India|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|  India|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|  India|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|  India|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|  India|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|  India|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|  India|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|  India|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|  India|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|  India|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|  India|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|  India|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|  India|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|  India|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|  India|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|  India|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------+
only showing top 20 rows

**Rename the columns**

- Education column name to Study

In [ ]:
# withColumn
# withColumnRenamed
bank_data_spark.withColumnRenamed("education","study").show(truncate=False)

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|job          |marital|study    |default|balance|housing|loan|contact |day|month|duration|campaign|pdays|previous|poutcome|y  |
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|30 |unemployed   |married|primary  |no     |1787   |no     |no  |cellular|19 |oct  |79      |1       |-1   |0       |unknown |no |
|33 |services     |married|secondary|no     |4789   |yes    |yes |cellular|11 |may  |220     |1       |339  |4       |failure |no |
|35 |management   |single |tertiary |no     |1350   |yes    |no  |cellular|16 |apr  |185     |1       |330  |1       |failure |no |
|30 |management   |married|tertiary |no     |1476   |yes    |yes |unknown |3  |jun  |199     |4       |-1   |0       |unknown |no |
|59 |blue-collar  |married|secondary|no     |0      |yes    |no  |unknown |5  |may  |226     |1       |-1   |0       |unknown |no |
|35 |management   |single |tertiary |no     |747    |no     |no  |cellular|23 |feb  |141     |2       |176  |3       |failure |no |
|36 |self-employed|married|tertiary |no     |307    |yes    |no  |cellular|14 |may  |341     |1       |330  |2       |other   |no |
|39 |technician   |married|secondary|no     |147    |yes    |no  |cellular|6  |may  |151     |2       |-1   |0       |unknown |no |
|41 |entrepreneur |married|tertiary |no     |221    |yes    |no  |unknown |14 |may  |57      |2       |-1   |0       |unknown |no |
|43 |services     |married|primary  |no     |-88    |yes    |yes |cellular|17 |apr  |313     |1       |147  |2       |failure |no |
|39 |services     |married|secondary|no     |9374   |yes    |no  |unknown |20 |may  |273     |1       |-1   |0       |unknown |no |
|43 |admin.       |married|secondary|no     |264    |yes    |no  |cellular|17 |apr  |113     |2       |-1   |0       |unknown |no |
|36 |technician   |married|tertiary |no     |1109   |no     |no  |cellular|13 |aug  |328     |2       |-1   |0       |unknown |no |
|20 |student      |single |secondary|no     |502    |no     |no  |cellular|30 |apr  |261     |1       |-1   |0       |unknown |yes|
|31 |blue-collar  |married|secondary|no     |360    |yes    |yes |cellular|29 |jan  |89      |1       |241  |1       |failure |no |
|40 |management   |married|tertiary |no     |194    |no     |yes |cellular|29 |aug  |189     |2       |-1   |0       |unknown |no |
|56 |technician   |married|secondary|no     |4073   |no     |no  |cellular|27 |aug  |239     |5       |-1   |0       |unknown |no |
|37 |admin.       |single |tertiary |no     |2317   |yes    |no  |cellular|20 |apr  |114     |1       |152  |2       |failure |no |
|25 |blue-collar  |single |primary  |no     |-221   |yes    |no  |unknown |23 |may  |250     |1       |-1   |0       |unknown |no |
|31 |services     |married|secondary|no     |132    |no     |no  |cellular|7  |jul  |148     |1       |152  |1       |other   |no |
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

**Drop the column**

In [ ]:
bank_data_spark.drop('education').show()

+---+-------------+-------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
|age|          job|marital|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+-------------+-------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
| 30|   unemployed|married|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|
| 33|     services|married|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|
| 35|   management| single|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|
| 30|   management|married|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|
| 59|  blue-collar|married|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|
| 35|   management| single|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|
| 36|self-employed|married|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|
| 39|   technician|married|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|
| 41| entrepreneur|married|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|
| 43|     services|married|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|
| 39|     services|married|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|
| 43|       admin.|married|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|
| 36|   technician|married|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|
| 20|      student| single|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|
| 31|  blue-collar|married|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|
| 40|   management|married|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|
| 56|   technician|married|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|
| 37|       admin.| single|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|
| 25|  blue-collar| single|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|
| 31|     services|married|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|
+---+-------------+-------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

**When**

when(condition).otherwise(default)

- Job category wherever management is there I want replace with Blue-Collar
- Remaining are as it is

In [ ]:
from pyspark.sql.functions import when

#import pyspark.sql.functions as F

#F.when

In [ ]:
# when(condition).otherwise(default)
condition= when(bank_data_spark.job=='management','Blue-collar').otherwise(bank_data_spark.job)
bank_data_spark.select(col('*'),condition).show()


#CASE WHEN (job = management) THEN Blue-collar ELSE job END|

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+----------------------------------------------------------+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|CASE WHEN (job = management) THEN Blue-collar ELSE job END|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+----------------------------------------------------------+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|                                                unemployed|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|                                                  services|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|                                               Blue-collar|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|                                               Blue-collar|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|                                               blue-collar|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|                                               Blue-collar|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|                                             self-employed|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|                                                technician|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|                                              entrepreneur|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|                                                  services|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|                                                  services|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|                                                    admin.|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|                                                technician|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|                                                   student|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|                                               blue-collar|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|                                               Blue-collar|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|                                                technician|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|                                                    admin.|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|                                               blue-collar|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|                                                  services|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+----------------------------------------------------------+
only showing top 20 rows

In [ ]:
# when(condition).otherwise(default).alias(<new_column>)
condition= when(bank_data_spark.job=='management','Blue-collar').otherwise(bank_data_spark.job).alias('new_job')
bank_data_spark.select(col('*'),condition).show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------------+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|      new_job|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------------+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|   unemployed|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|     services|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|  Blue-collar|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|  Blue-collar|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|  blue-collar|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|  Blue-collar|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|self-employed|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|   technician|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no| entrepreneur|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|     services|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|     services|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|       admin.|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|   technician|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|      student|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|  blue-collar|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|  Blue-collar|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|   technician|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|       admin.|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|  blue-collar|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|     services|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-------------+
only showing top 20 rows

In [ ]:
# when(condition).otherwise(default).alias(<new_column>)
# for the y column yes =0 and No=1
condition= when(bank_data_spark.y=='yes',0).otherwise(1).alias('new_y')
bank_data_spark.select(col('*'),condition).show()

+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----+
|age|          job|marital|education|default|balance|housing|loan| contact|day|month|duration|campaign|pdays|previous|poutcome|  y|new_y|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----+
| 30|   unemployed|married|  primary|     no|   1787|     no|  no|cellular| 19|  oct|      79|       1|   -1|       0| unknown| no|    1|
| 33|     services|married|secondary|     no|   4789|    yes| yes|cellular| 11|  may|     220|       1|  339|       4| failure| no|    1|
| 35|   management| single| tertiary|     no|   1350|    yes|  no|cellular| 16|  apr|     185|       1|  330|       1| failure| no|    1|
| 30|   management|married| tertiary|     no|   1476|    yes| yes| unknown|  3|  jun|     199|       4|   -1|       0| unknown| no|    1|
| 59|  blue-collar|married|secondary|     no|      0|    yes|  no| unknown|  5|  may|     226|       1|   -1|       0| unknown| no|    1|
| 35|   management| single| tertiary|     no|    747|     no|  no|cellular| 23|  feb|     141|       2|  176|       3| failure| no|    1|
| 36|self-employed|married| tertiary|     no|    307|    yes|  no|cellular| 14|  may|     341|       1|  330|       2|   other| no|    1|
| 39|   technician|married|secondary|     no|    147|    yes|  no|cellular|  6|  may|     151|       2|   -1|       0| unknown| no|    1|
| 41| entrepreneur|married| tertiary|     no|    221|    yes|  no| unknown| 14|  may|      57|       2|   -1|       0| unknown| no|    1|
| 43|     services|married|  primary|     no|    -88|    yes| yes|cellular| 17|  apr|     313|       1|  147|       2| failure| no|    1|
| 39|     services|married|secondary|     no|   9374|    yes|  no| unknown| 20|  may|     273|       1|   -1|       0| unknown| no|    1|
| 43|       admin.|married|secondary|     no|    264|    yes|  no|cellular| 17|  apr|     113|       2|   -1|       0| unknown| no|    1|
| 36|   technician|married| tertiary|     no|   1109|     no|  no|cellular| 13|  aug|     328|       2|   -1|       0| unknown| no|    1|
| 20|      student| single|secondary|     no|    502|     no|  no|cellular| 30|  apr|     261|       1|   -1|       0| unknown|yes|    0|
| 31|  blue-collar|married|secondary|     no|    360|    yes| yes|cellular| 29|  jan|      89|       1|  241|       1| failure| no|    1|
| 40|   management|married| tertiary|     no|    194|     no| yes|cellular| 29|  aug|     189|       2|   -1|       0| unknown| no|    1|
| 56|   technician|married|secondary|     no|   4073|     no|  no|cellular| 27|  aug|     239|       5|   -1|       0| unknown| no|    1|
| 37|       admin.| single| tertiary|     no|   2317|    yes|  no|cellular| 20|  apr|     114|       1|  152|       2| failure| no|    1|
| 25|  blue-collar| single|  primary|     no|   -221|    yes|  no| unknown| 23|  may|     250|       1|   -1|       0| unknown| no|    1|
| 31|     services|married|secondary|     no|    132|     no|  no|cellular|  7|  jul|     148|       1|  152|       1|   other| no|    1|
+---+-------------+-------+---------+-------+-------+-------+----+--------+---+-----+--------+--------+-----+--------+--------+---+-----+
only showing top 20 rows